<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }

      .code {
        font-size: 18px;
      }

      .link {
        font-size: 18px;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <span>Prezado cliente {{name}},</span>

      <br/>

      <span>O seu álbum {{namealbum}} está disponível para que você possa avaliar e selecionar as suas melhores fotos, 
        dessa forma será possível realizar o download ou comprar um quadro e até um porta retrato!</span>

      <br/>

      <span>O álbum possui um prazo de exibição e está perto da sua data limite {{datelimit}}<br /> 
      </span>

      <span>Qualquer dúvida, pode entrar em contato conosco!</span><br />

      <strong>Grato,</strong>

      <h3>Equipe | <strong>Online quadros</strong></h3>
    </div>
  </body>
</html>
