<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }

      .code {
        font-size: 18px;
      }

      .link {
        font-size: 18px;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <span>Olá, {{name}}, temos uma ótima notícia para você.</span>

      <br/>

      <span>Seu link para download do seu album já foi processado!.</span>

      <span>Acesse o link abaixo para baixar suas fotos. <br /><br /> 
        <strong class="link">{{link}}</strong>
      </span>

      <strong>Obrigado!</strong>

      <h3>Equipe | <strong>Online quadros</strong></h3>
    </div>
  </body>
</html>
