<html>
  <head>
    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; }
      span { margin: 10px 0; display: block; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h3>Um novo login foi feito em sua conta</h3>
      <p>
        Olá
        {{name}},
      </p>

      <br />
      <p>
        Dados do login
      </p>
      <p>
        Email:
        <strong>{{email}}</strong>
      </p>

      <p>
        Horário:
        <strong>{{datetime}}</strong>
      </p>

      <br />

      <strong>Obrigado!</strong>

      <h3>Equipe | <strong>Online quadros</strong></h3>
    </div>
  </body>
</html>
